.modal-header.deleted-modal__header {
  padding: 6px 10px;
}

.deleted-modal__body,
.deleted-modal__footer {
  padding: 8px;
}

.deleted-modal__body p {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 0;
}

.deleted-modal__footer button {
  padding: 6px 4px;
  width: 80px;
  font-size: 14px;
}

.delete-modal__dialog .modal-content {
  width: 450px;
}
