// Variable overrides
//
// If you want to customize your project please add your variables below.
$font-family-sans-serif: 'Roboto', sans-serif;
//  $font-family-sans-serif: "Times New Roman", Times, serif;


$enable-deprecation-messages: false !default;

$blue-color: #3c8dbc;
$orange-color: #f77225;
